BEGIN;

CREATE TABLE alembic_version (
    version_num VARCHAR(32) NOT NULL, 
    CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num)
);

-- Running upgrade  -> 237140312085

CREATE TABLE properties (
    id UUID NOT NULL, 
    name VARCHAR(255) NOT NULL, 
    whatsapp_number VARCHAR(20), 
    notification_email VARCHAR(255), 
    website_url VARCHAR(500), 
    operating_hours JSON, 
    knowledge_base_config JSON, 
    adr NUMERIC(10, 2) NOT NULL, 
    ota_commission_pct NUMERIC(5, 2) NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    PRIMARY KEY (id)
);

CREATE TABLE analytics_daily (
    id UUID NOT NULL, 
    property_id UUID NOT NULL, 
    report_date DATE NOT NULL, 
    total_inquiries INTEGER NOT NULL, 
    after_hours_inquiries INTEGER NOT NULL, 
    after_hours_responded INTEGER NOT NULL, 
    leads_captured INTEGER NOT NULL, 
    handoffs INTEGER NOT NULL, 
    avg_response_time_sec NUMERIC(8, 2) NOT NULL, 
    estimated_revenue_recovered NUMERIC(12, 2) NOT NULL, 
    channel_breakdown JSON, 
    PRIMARY KEY (id), 
    FOREIGN KEY(property_id) REFERENCES properties (id)
);

CREATE UNIQUE INDEX ix_analytics_property_date ON analytics_daily (property_id, report_date);

CREATE TABLE conversations (
    id UUID NOT NULL, 
    property_id UUID NOT NULL, 
    channel VARCHAR(20) NOT NULL, 
    guest_identifier VARCHAR(255), 
    guest_name VARCHAR(255), 
    status VARCHAR(20) NOT NULL, 
    is_after_hours BOOLEAN NOT NULL, 
    ai_mode VARCHAR(20) NOT NULL, 
    started_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    ended_at TIMESTAMP WITH TIME ZONE, 
    PRIMARY KEY (id), 
    FOREIGN KEY(property_id) REFERENCES properties (id)
);

CREATE INDEX ix_conversations_guest ON conversations (property_id, guest_identifier);

CREATE INDEX ix_conversations_property_after_hours ON conversations (property_id, is_after_hours);

CREATE INDEX ix_conversations_property_status ON conversations (property_id, status);

CREATE TABLE kb_documents (
    id UUID NOT NULL, 
    property_id UUID NOT NULL, 
    doc_type VARCHAR(30) NOT NULL, 
    title VARCHAR(255) NOT NULL, 
    content TEXT NOT NULL, 
    embedding VECTOR(1536), 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    PRIMARY KEY (id), 
    FOREIGN KEY(property_id) REFERENCES properties (id)
);

CREATE INDEX ix_kb_property_type ON kb_documents (property_id, doc_type);

CREATE TABLE leads (
    id UUID NOT NULL, 
    conversation_id UUID NOT NULL, 
    property_id UUID NOT NULL, 
    guest_name VARCHAR(255), 
    guest_phone VARCHAR(20), 
    guest_email VARCHAR(255), 
    intent VARCHAR(30) NOT NULL, 
    status VARCHAR(20) NOT NULL, 
    estimated_value NUMERIC(10, 2), 
    notes TEXT, 
    captured_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    PRIMARY KEY (id), 
    FOREIGN KEY(conversation_id) REFERENCES conversations (id), 
    FOREIGN KEY(property_id) REFERENCES properties (id)
);

CREATE INDEX ix_leads_property_date ON leads (property_id, captured_at);

CREATE INDEX ix_leads_property_status ON leads (property_id, status);

CREATE TABLE messages (
    id UUID NOT NULL, 
    conversation_id UUID NOT NULL, 
    role VARCHAR(10) NOT NULL, 
    content TEXT NOT NULL, 
    metadata JSON, 
    sent_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    PRIMARY KEY (id), 
    FOREIGN KEY(conversation_id) REFERENCES conversations (id)
);

CREATE INDEX ix_messages_conversation ON messages (conversation_id, sent_at);

INSERT INTO alembic_version (version_num) VALUES ('237140312085') RETURNING alembic_version.version_num;

-- Running upgrade 237140312085 -> 2323898380cc

ALTER TABLE conversations ADD COLUMN last_message_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL;

ALTER TABLE conversations ADD COLUMN message_count INTEGER DEFAULT '0' NOT NULL;

ALTER TABLE leads ADD COLUMN source_channel VARCHAR(20);

ALTER TABLE leads ADD COLUMN is_after_hours BOOLEAN;

ALTER TABLE properties ADD COLUMN updated_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL;

ALTER TABLE properties ADD COLUMN slug VARCHAR(255);

ALTER TABLE properties ADD COLUMN timezone VARCHAR(50) DEFAULT 'Asia/Kuala_Lumpur' NOT NULL;

ALTER TABLE properties ADD COLUMN plan_tier VARCHAR(20) DEFAULT 'pilot' NOT NULL;

ALTER TABLE properties ADD COLUMN is_active BOOLEAN DEFAULT 'true' NOT NULL;

ALTER TABLE properties ADD UNIQUE (slug);

UPDATE alembic_version SET version_num='2323898380cc' WHERE alembic_version.version_num = '237140312085';

-- Running upgrade 2323898380cc -> enable_rls_001

ALTER TABLE properties ENABLE ROW LEVEL SECURITY;

ALTER TABLE conversations ENABLE ROW LEVEL SECURITY;

ALTER TABLE messages ENABLE ROW LEVEL SECURITY;

ALTER TABLE leads ENABLE ROW LEVEL SECURITY;

ALTER TABLE kb_documents ENABLE ROW LEVEL SECURITY;

ALTER TABLE analytics_daily ENABLE ROW LEVEL SECURITY;

CREATE POLICY tenant_isolation_policy ON properties
        USING (id = current_setting('app.current_property_id', true)::uuid);

CREATE POLICY tenant_isolation_policy ON conversations
            USING (property_id = current_setting('app.current_property_id', true)::uuid)
            WITH CHECK (property_id = current_setting('app.current_property_id', true)::uuid);

CREATE POLICY tenant_isolation_policy ON leads
            USING (property_id = current_setting('app.current_property_id', true)::uuid)
            WITH CHECK (property_id = current_setting('app.current_property_id', true)::uuid);

CREATE POLICY tenant_isolation_policy ON kb_documents
            USING (property_id = current_setting('app.current_property_id', true)::uuid)
            WITH CHECK (property_id = current_setting('app.current_property_id', true)::uuid);

CREATE POLICY tenant_isolation_policy ON analytics_daily
            USING (property_id = current_setting('app.current_property_id', true)::uuid)
            WITH CHECK (property_id = current_setting('app.current_property_id', true)::uuid);

CREATE POLICY tenant_isolation_policy ON messages
        USING (conversation_id IN (SELECT id FROM conversations))
        WITH CHECK (conversation_id IN (SELECT id FROM conversations));

ALTER TABLE properties FORCE ROW LEVEL SECURITY;

UPDATE alembic_version SET version_num='enable_rls_001' WHERE alembic_version.version_num = '2323898380cc';

-- Running upgrade enable_rls_001 -> sd_001_add_soft_delete

ALTER TABLE properties ADD COLUMN deleted_at TIMESTAMP WITH TIME ZONE;

ALTER TABLE conversations ADD COLUMN deleted_at TIMESTAMP WITH TIME ZONE;

ALTER TABLE messages ADD COLUMN deleted_at TIMESTAMP WITH TIME ZONE;

ALTER TABLE leads ADD COLUMN deleted_at TIMESTAMP WITH TIME ZONE;

UPDATE alembic_version SET version_num='sd_001_add_soft_delete' WHERE alembic_version.version_num = 'enable_rls_001';

-- Running upgrade sd_001_add_soft_delete -> f59cbb6d5bd2

ALTER TABLE analytics_daily ADD COLUMN inquiries_handled_by_ai INTEGER DEFAULT '0' NOT NULL;

ALTER TABLE analytics_daily ADD COLUMN inquiries_handled_manually INTEGER DEFAULT '0' NOT NULL;

ALTER TABLE analytics_daily ADD COLUMN cost_savings NUMERIC(12, 2) DEFAULT '0.00' NOT NULL;

ALTER TABLE kb_documents ALTER COLUMN embedding TYPE VECTOR(768);

ALTER TABLE properties ADD COLUMN whatsapp_provider VARCHAR(20) DEFAULT 'meta' NOT NULL;

ALTER TABLE properties ADD COLUMN twilio_phone_number VARCHAR(20);

ALTER TABLE properties ADD COLUMN hourly_rate NUMERIC(10, 2) DEFAULT '25.00' NOT NULL;

ALTER TABLE properties ADD COLUMN brand_vocabulary TEXT;

ALTER TABLE properties ADD COLUMN required_questions JSON;

UPDATE alembic_version SET version_num='f59cbb6d5bd2' WHERE alembic_version.version_num = 'sd_001_add_soft_delete';

COMMIT;

